.cursor {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  display: none;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.26);
  display: none;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 10px solid #4440b7;
  border-radius: 50%;

  top: -12px;
  left: -13px;
  animation: cursorAnim2 0.5s infinite alternate;

  background-color: rgba(0, 0, 0, 0.26);
  display: none;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 3px solid rgb(23, 129, 250);
  top: -3px;
  left: -3.5px;
  background-color: rgba(0, 0, 0, 0.26);
}
.display {
  display: block;
}
